In [40]:
import pandas as pd
import datetime 
import numpy as np

In [20]:
#http://api.bitcoincharts.com/v1/csv/ BOTTOM ONE === zyadoEUR
abs_path = 'C:/Users/John/.zyadoEUR.csv' # absolute path 
rel_path = '.zyadoEUR.csv' # relative path

df = pd.read_csv(rel_path, header=None) # open the file as dataframe

In [24]:
d

SyntaxError: invalid syntax (<ipython-input-24-0490d6ae2ca0>, line 1)

In [28]:
df.columns=['Time', 'Rate_EUR','Vol_per_transaction' ]

In [29]:
df

               Time  Rate_EUR  Vol_per_transaction
0        1398372911    341.74              0.15000
1        1398373075    341.74              0.05000
2        1398377372    341.75              0.00800
3        1398377372    341.75              0.14200
4        1398384744    341.75              0.07800
5        1398384744    341.77              0.01200
6        1398384777    341.77              0.09000
7        1398385616    341.74              0.07000
8        1398386034    341.74              0.06000
9        1398386798    341.87              0.02100
10       1398386798    341.77              0.00300
11       1398387965    342.54              0.02500
12       1398388834    343.00              0.12300
13       1398436109    343.00              0.04100
14       1398456998    343.54              0.06000
15       1398457108    344.21              0.04100
16       1398512419    344.21              0.03000
17       1398515509    344.23              0.03000
18       1398515533    344.23              0.07000
19       1398522460    344.21              0.02000
20       1398534169    344.21              0.00900
21       1398534170    341.74              0.02000
22       1398534171    341.60              0.05700
23       1398534171    341.74              0.02000
24       1398534171    341.55              0.02500
25       1398534171    341.56              0.10000
26       1398534172    341.52              0.01800
27       1398594326    342.00              0.30000
28       1398594425    345.21              0.12000
29       1398594425    344.54              0.21000
...             ...       ...                  ...
4945091  1502963841   3803.43              0.09437
4945092  1502963842   3803.65              0.22425
4945093  1502963846   3803.65              0.17574
4945094  1502963846   3801.08              0.31205
4945095  1502963847   3803.72              0.14605
4945096  1502964004   3801.08              0.18971
4945097  1502964005   3803.72              0.35103
4945098  1502964005   3800.06              0.23921
4945099  1502964006   3803.73              0.02892
4945100  1502964007   3803.03              0.19449
4945101  1502964008   3803.73              0.20531
4945102  1502964010   3801.81              0.03529
4945103  1502964010   3803.03              0.21891
4945104  1502964011   3803.82              0.07599
4945105  1502964011   3803.73              0.18061
4945106  1502964014   3803.18              0.26724
4945107  1502964015   3803.18              0.06566
4945108  1502964015   3803.82              0.29274
4945109  1502964016   3801.81              0.36991
4945110  1502964017   3803.11              0.36664
4945111  1502964017   3803.95              0.17247
4945112  1502964017   3803.82              0.02969
4945113  1502964019   3803.11              0.28160
4945114  1502964020   3803.95              0.19322
4945115  1502964020   3803.03              0.02782
4945116  1502964021   3801.81              0.04582
4945117  1502964021   3803.03              0.30562
4945118  1502964022   3804.14              0.16458
4945119  1502964022   3803.95              0.14537
4945120  1502964026   3804.14              0.15604

[4945121 rows x 3 columns]

In [17]:
pd.to_datetime([1398373075,1502964026], unit='s')

DatetimeIndex(['2014-04-24 20:57:55', '2017-08-17 10:00:26'], dtype='datetime64[ns]', freq=None)

In [37]:
df['Time'] = pd.to_datetime(df['Time'],unit='s')

In [52]:
df.tail()

                     Rate_EUR  Vol_per_transaction
Time
2017-08-17 10:00:21   3801.81              0.04582
2017-08-17 10:00:21   3803.03              0.30562
2017-08-17 10:00:22   3804.14              0.16458
2017-08-17 10:00:22   3803.95              0.14537
2017-08-17 10:00:26   3804.14              0.15604

In [58]:
crap = df.groupby('Time').size()
min_ten = 10
pd.rolling_mean(crap.sum(), min_ten)

AttributeError: 'int' object has no attribute 'rolling'